body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.navlink a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.navlink.flex-2{
    flex: 2;
}

.navlink {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 20px;
}

article {
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
}

.card-header {
    display: flex;
    align-items: center;
}

.card-header img {
    width: 100px;
    border-radius: 50%;
}

.card-header p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}

.card-footer p {
    text-align: end;
}

header img {
    width: 100%;
}

header {
    position: relative;
}

header div {
    position: absolute;
    background-color: rgb(255 255 255 / 50%);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 50%;
    display: grid;
    place-items: center;
    border-radius: 50%;
    font-size: 25px;
    text-transform: uppercase;
}

#chi-siamo img {
    width: 360px;
}

.clear {
    clear: both;
}

#progetti {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

#progetti article {
    width: 80%;
    border-radius: 10px;
    border: 1px solid red;
}

.project-header {
    position: relative;
}

.project-header div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
    background-color: rgb(255 217 0 / 70%);
    width: 60%;
    height: 50%;
    border-radius: 50%;
}

.project-header img {
    width: 100%;
}

.project-main img {
    width: 70%;
}

.project-footer {
    display: flex;
    align-items: center;
    width: 100%;
}

.project-footer img {
    width: 100px;
    border-radius: 50%;
    border: 1px solid black;
}

.project-footer p {
    font-size: 25px;
    font-weight: bold;
    margin-left: 10px;
}